["plugins/mediainfo.yazi"]
type = "archive"
url = "https://github.com/boydaihungst/mediainfo.yazi/archive/refs/heads/master.tar.gz"
exact = true
exclude = ["mediainfo.yazi-master/assets"]
stripComponents = 1
refreshPeriod = "168h"

["plugins/ouch.yazi"]
type = "archive"
url = "https://github.com/ndtoan96/ouch.yazi/archive/refs/heads/main.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
