[mgr]
prepend_keymap = [
    { on = "q", run = "close", desc = "Close the current tab, or quit if it's last" },
    { on = "Q", run = "quit --no-cwd-file", desc = "Quit without outputting cwd-file" },

    { on = "<Tab>", run = "noop" }, # disable built-in spot
    { on = "i", run = "spot", desc = "Spot hovered file" },

    { on = "C", run = "plugin ouch 7z", desc = "Compress with ouch" },

    { on = "<A-p>", run = "plugin toggle-pane min-preview", desc = "Show/hide preview pane" },

{{- if eq .chezmoi.os "linux" }}

    # plugin gvfs
    { on = [ "M", "a" ], run = "plugin gvfs -- add-mount", desc = "Add GVFS mount URI" },
    # edit/remove clears saved passwords
    { on = [ "M", "e" ], run = "plugin gvfs -- edit-mount", desc = "Edit GVFS mount URI" },
    { on = [ "M", "r" ], run = "plugin gvfs -- remove-mount", desc = "Remove GVFS mount URI" },

    { on = [ "M", "m" ], run = "plugin gvfs -- select-then-mount --jump", desc = "Mount device" },
    { on = [ "M", "u" ], run = "plugin gvfs -- select-then-unmount --eject", desc = "Unmount/eject device" },
    # force ignores outstanding file operations
    { on = [ "M", "U" ], run = "plugin gvfs -- select-then-unmount --eject --force", desc = "Unmount/eject device (force)" },

    { on = [ "g", "m" ], run = "plugin gvfs -- jump-to-device", desc = "Go to mount point" },

{{- end }}
]
