[mgr]
show_hidden = true

[opener]
edit = [
    { run = 'nvim %s', block = true },
]
extract = [
    { run = 'ouch d -y %s', desc = "Extract here with ouch" },
]

[plugin]
prepend_preloaders = [

{{- if eq .chezmoi.os "linux" }}

    # Don't preload files in mounted locations:
    #   - virtual filesystems (e.g., SFTP)
    #     (use absolute path since $env.XDG_RUNTIME_DIR won't work)
    #   - removable media (e.g., USB drives)
    { name = "/run/user/{{ .chezmoi.uid }}/gvfs/**/*", run = "noop" },
    { name = "/run/media/{{ .chezmoi.username }}/**/*", run = "noop" },

{{- end }}

    # https://mediaarea.net/en/MediaInfo/Support/Formats
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    # .srt subtitle, adobe illustrator, adobe photoshop file
    { mime = "application/{subrip,postscript,illustrator,dvb.ait,vnd.adobe.illustrator,eps}", run = "mediainfo" },

    # Sometimes AI file is recognized as "application/pdf". Lmao.
    # In this case use file extension instead:
    { url = "*.{ai,eps,ait}", run = "mediainfo" },

]

prepend_previewers = [

{{- if eq .chezmoi.os "linux" }}

    # Don't preview files in mounted locations (except folders/text):
    { name = "*/", run = "folder" },
    { mime = "text/*", run = "code" },
    { name = "/run/user/{{ .chezmoi.uid }}/gvfs/**/*", run = "noop" },
    { name = "/run/media/{{ .chezmoi.username }}/**/*", run = "noop" },

{{- end }}

    # https://mediaarea.net/en/MediaInfo/Support/Formats
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo"},
    # .srt subtitle, adobe illustrator, adobe photoshop file
    { mime = "application/{subrip,postscript,illustrator,dvb.ait,vnd.adobe.illustrator,eps}", run = "mediainfo" },

    # Sometimes AI file is recognized as "application/pdf". Lmao.
    # In this case use file extension instead:
    { url = "*.{ai,eps,ait}", run = "mediainfo" },

    # Archive previewer
    { mime = "application/{*zip,tar,bzip2,7z*,rar,xz,zstd,java-archive}", run = "ouch --show-file-icons" },

]
