{{- /* chezmoi:template:line-endings=native */ -}}
user_pref("browser.ctrlTab.sortByRecentlyUsed", true);
user_pref("browser.download.useDownloadDir", false);
user_pref("browser.formfill.enable", false);
user_pref("browser.newtabpage.activity-stream.showSearch", false);
user_pref("browser.newtabpage.activity-stream.showWeather", false);
user_pref("browser.newtabpage.enabled", false);
user_pref("browser.search.separatePrivateDefault", false);
user_pref("browser.startup.homepage", "about:blank");
user_pref("browser.startup.page", 3);
user_pref("browser.toolbars.bookmarks.visibility", "never");
user_pref("datareporting.usage.uploadEnabled", false);
user_pref("extensions.formautofill.creditCards.enabled", false);
user_pref("places.history.enabled", false);
user_pref("privacy.clearOnShutdown_v2.browsingHistoryAndDownloads", false);
user_pref("privacy.clearOnShutdown_v2.formdata", true);
user_pref("privacy.clearOnShutdown_v2.siteSettings", true);
user_pref("privacy.sanitize.pending", "[{\"id\":\"shutdown\",\"itemsToClear\":[\"cache\",\"formdata\",\"siteSettings\",\"cookiesAndStorage\"],\"options\":{}},{\"id\":\"newtab-container\",\"itemsToClear\":[],\"options\":{}}]");
user_pref("privacy.sanitize.sanitizeOnShutdown", true);
user_pref("signon.rememberSignons", false);
user_pref("zen.tabs.show-newtab-vertical", false);
user_pref("zen.tabs.vertical.right-side", true);
user_pref("zen.view.compact.toolbar-flash-popup", false);
user_pref("zen.welcome-screen.seen", true);
