["fonts"]
type = "archive"
url = "https://github.com/tomasklaen/uosc/releases/latest/download/uosc.zip"
exact = true
include = ["fonts/**"]
stripComponents = 1
refreshPeriod = "168h"

["scripts/thumbfast.lua"]
type = "file"
url = "https://github.com/po5/thumbfast/raw/master/thumbfast.lua"
refreshPeriod = "168h"

["script-opts/thumbfast.conf"]
type = "file"
url = "https://github.com/po5/thumbfast/raw/master/thumbfast.conf"
refreshPeriod = "168h"

["scripts/uosc"]
type = "archive"
url = "https://github.com/tomasklaen/uosc/releases/latest/download/uosc.zip"
exact = true
include = ["scripts/uosc/**"]
stripComponents = 2
refreshPeriod = "168h"

["script-opts/uosc.conf"]
type = "file"
url = "https://github.com/tomasklaen/uosc/releases/latest/download/uosc.conf"
refreshPeriod = "168h"
